.videoContainer {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#downloadBtn.fill {
  margin: 0;
  min-width: 70%;
  padding: 0.5rem 0.3rem;
  font-size: min(1rem, 3.7vw);
}

#iframeVideoPlayer {
  width: 100%;
  min-height: 24vh;
  max-height: 45vh;
  aspect-ratio: 16 / 9;
}

.streamHubRedirect {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10px;
}

.streamHubRedirect button {
  border: none;
  background-color: rgb(27, 77, 243);
  transition: background-color 400ms ease;
}

.streamHubRedirect button:hover {
  background-color: rgb(76, 117, 252);
}

.videoPlay .buttons {
  padding-bottom: 2rem;
}

@media (max-height: 521px), screen {
  .videoPlay .buttons {
    padding-bottom: 22vw;
  }
}
#goBack {
  margin: 0;
  width: 20%;
  padding: 0.5rem 0.3rem;
  font-size: min(1rem, 3.7vw);
}

footer {
  margin-top: 2rem;
}
